.login {
    height: 100%;
    background-image: linear-gradient(to right, #001133 10%, #005577 50%, #001133 90%);
}


@period: 30s;
@minBlur: 1px;
@maxBlur: 3px;
@delay: -28s;

.logoBox {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 190vh;
    transform-origin: center bottom;
    animation: rotateCW @period @delay linear infinite;

    .logo {
        animation: rotateCCW @period @delay linear infinite, sunshine @period @delay linear infinite;
    }
}

@keyframes rotateCW {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateCCW {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes sunshine {
    from {
        filter: brightness(0.2) blur(@minBlur);
    }

    20% {
        filter: brightness(1.3) blur(@maxBlur);
    }

    25% {
        filter: brightness(1.5) blur(@maxBlur);
    }

    30% {
        filter: brightness(1.3) blur(@maxBlur);

    }

    50% {
        filter: brightness(0.2) blur(@minBlur);
    }

    to {
        filter: brightness(0.2) blur(@minBlur);
    }
}

.loginContent {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    padding: 0 24px;
    background-color: #fff;
    box-shadow: 2px 2px 5px #333333;
    border-radius: 3px;

    .title {
        line-height: 56px;
        font-size: 20px;
        text-align: center;
    }
}